body {
    background-color: black;
    font-family: 'Josefin Sans' , sans-serif;
    color: white;
}

/* Nav bar styles */
#title {
    text-transform: uppercase;
    font-size: 1.75em;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 75px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    font-size: 1.25em;
    font-weight: 500;

}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-list li:nth-child(1) {
    margin-right: 25px;
}

.nav-list li:nth-child(2) a {
    color: #F3DD83;
}

/* Hero styles */
.hero {
    margin-top: 100px;
    background-color: rgba(196, 196, 196, 0.19);
    height: 60vh;
    width: 100%;
    box-sizing: border-box;
    padding: 100px 30vw 100px 0px;
}

.hero-text {
    float: right;
}