body {
    background-color: black;
    font-family: 'Josefin Sans' , sans-serif;
    color: white;
}

/* Nav bar styles */
#title {
    text-transform: uppercase;
    font-size: 1.75em;
    height: 100%;
}

nav {
    margin: 0px 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nightmode-toggle {
    height: 100%;
}

.nightmode-toggle > img {
    height: 100%;
}


.nav-link {
    color: white;
    text-decoration: none;
}

.nav-list li:nth-child(1) {
    margin-right: 25px;
}

.nav-list li:nth-child(2) a {
    color: #f7d33e;
}

/* Main menu styles */
.main-menu {
    position: sticky;
    top: 0;
    height: 100%;
    filter: drop-shadow(0 1px 20px rgba(47,249,36, 0.3));
    z-index: 1;
}

#main-menu-list {
    list-style: none;
    padding-left: 0;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 2vh 0;
    margin-left: auto;
    margin-right: auto;
}

.main-menu-items {
    font-weight: 700;
    font-size: 100%;
}

/* Hero styles */
.hero {
    background-image: url("../assets/images/hero.jpg");
    background-position: 790px 950px;
    background-repeat: initial;
    margin-top: 2.5vh;
    height: 60vh;
    min-height: 500px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    align-items: flex-end;
}

.blur {
    background: rgb(0,0,0);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-content: center;
    filter: opacity(75%);
    padding: 2vh 0vh;
    
}

.hero-text-container {
    font-size: 95%;
    text-align: center;
}

.hero-text {
    margin: 0;
    padding: 1vh 0vh;
    line-height: 100%;
}

/* Responsive styles for hero */
@media only screen and (min-width: 1280px) {
    .hero {
        background-position: 0px 950px;
    }

    .blur {
        height: 25%;
    }

}

/* Main content section styles */
#main {
    display: flex;
    flex-direction: column;
}

.major-section {
    width: 100%;
    text-align: center;
   
}

/* Skills styles */
#skills {
    border: 0px;
    margin-top: 10vh;   
}

.skill-container {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
}

#skills-heading {
    font-size: 3.5em;
    padding-bottom: 10vh;
}

#skills-menu-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0 30vh 0;

}

.skills-menu-item {
    color: rgb(228, 227, 227);
    font-size: 1.2em;
}

.skill-subheading {
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 15vh 0;
}

.skill-ind {
    margin-bottom: 7vh;
}

.skill-ind > img {
    height: 100px;
}

/* Responsive styles for core containers */
@media only screen and (min-width: 768px) {
    
    #main-menu-list {
        padding: 2vh 25vw;
        max-width: 500px;
    }
    
    
    .skill-container {
        flex-direction: row;
        justify-content: center;
    }

    .contact-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .contact-container > div {
        width: 50%;
    }

    

}

@media only screen and (min-width: 871px) {
    .skill-container {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}


/* Project section styles */

.links {
    text-decoration: underline;
    color: white;
}

/* Education section styles */
#degree {
    font-weight: bold;
    font-size: 1.5em;
}

/* Contact section styles */

/* Footer section styles */
.footer {
    text-align: center;
}


