html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: 'Josefin Sans', Arial , sans-serif;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

/* Nav bar styles */
#title {
    text-transform: uppercase;
    font-size: 1.75em;
    height: 100%;
}

nav {
    margin: 0px 5vw;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    justify-content: center;
}

.nightmode-toggle {
    height: 100%;
}

.nightmode-toggle > img {
    height: 100%;
}


.nav-link {
    color: white;
    text-decoration: none;
}

.nav-list li:nth-child(1) {
    margin-right: 25px;
}

.nav-list li:nth-child(2) a {
    color: #f7d33e;
}

/* Main menu styles */
.main-menu {
    position: sticky;
    top: 0;
    height: 100%;
    filter: drop-shadow(0 1px 20px #e67d22ab);
    z-index: 1;
}

#main-menu-list {
    list-style: none;
    padding-left: 0;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 2vh 0;
    margin-left: auto;
    margin-right: auto;
}

.main-menu-items {
    font-weight: 500;
    font-size: 100%;
}

/* Hero styles */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    height: 80vh;
    background-image: url(/assets/images/meiying-ng-OrwkD-iWgqg-unsplash.jpg);
    background-position: 70%;
    gap: 10%;
}

.hero-pic {
   width: 20%;
   min-width: 175px;
   max-width: 500px;
   min-height: 175px;
   max-height: 500px;
}

.hero-pic > img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.hero-textgrp {
    text-align: center;
}

.hero-textgrp > h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

.hero-textgrp > h3 {
    font-weight: 200;
    font-size: 1rem;
}



/* Responsive styles for hero */
@media only screen and (min-width: 1280px) {
    .hero {
        flex-direction: row;
        gap: 10%;   
    }

    .hero-textgrp > h2 {
        font-weight: 600;
        font-size: 2rem;
    }
    
    .hero-textgrp > h3 {
        font-weight: 200;
        font-size: 1.5rem;
    }

}

/* Main content section styles */
#main {
    display: flex;
    flex-direction: column;
}

.major-section {
    width: 100%;
    text-align: center;
   
}

/* Skills styles */
#skills {
    border: 0px;
    margin-top: 10vh;   
}

.skill-container {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
    flex-wrap: wrap;
}

.skill-ind {
    flex-basis: 33%;

}

.skills-heading {
    font-size: 3.5em;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

#skills-menu-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0 30vh 0;

}

.skills-menu-item {
    color: rgb(228, 227, 227);
    font-size: 1.2em;
}

.skill-subheading {
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    padding: 10vh 0 15vh 0;
   }

.skill-ind {
    margin-bottom: 7vh;
}

.skill-ind > img {
    height: 100px;
}

/* Responsive styles for core containers */
@media only screen and (min-width: 768px) {
    
    #main-menu-list {
        padding: 2vh 25vw;
    }
    
    
    .skill-container {
        flex-direction: row;
        justify-content: center;
        padding-left: 15vw;
        padding-right: 15vw;
    }

    .skill-subheading {
        padding: 15vh 0;
    }

    .skill-heading {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .skill-ind > p {
        box-sizing: border-box;
        padding: 0px 10%;
    }

    #skills-menu-list {
        padding: 0 25vw 30vh 25vw;
    }

    .contact-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #contact {
        margin-bottom: 15vh;
    }

    .contact-container > div {
        width: 30%;
    }

    #contact > .skill-container {
        box-sizing: border-box;
        padding-left: 15vw;
        padding-right: 15vw;
        justify-content: center;
    }
    
    #contact > .skill-container > .skill-ind {
        width: 50%;
    }

    

    

}



/* Project section styles */

.links {
    text-decoration: underline;
    color: white;
}

/* Education section styles */
#degree {
    font-weight: bold;
    font-size: 1.5em;
}

/* Contact section styles */


/* Footer section styles */
.footer {
    text-align: center;
}


#contact > .skill-container > .skill-ind {
    width: 100%;
}

/* Styles for dark and light mode */
@media (prefers-color-scheme: light) {
    html, body, .skill-ind {
        background-color: white;
        color: black;
    }

    #main-menu-list {
        background-color: #E67E22;
        color: white;
    }

    .blur {
        background: rgb(255,255, 255);
        color: #000000;
    }

    .skills-menu-item > a {
        color: black;
    }

    .links {
        color: black;
    }
}